{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings 0",
    "biome lint --write --unsafe",
    "biome format --write"
  ],
  "*.{json,jsonc}": [
    "biome format --write"
  ],
  "!public/**": []
}
